<header class="m-2 rounded">
  <div class="px-3 py-2 text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <ng-icon name="bootstrapEmojiWinkFill" style="font-size: 2rem;" class="home-offset"></ng-icon>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small pt-3">
          <li>
            <a href="#" class="nav-link text-white">
              <ng-icon name="bootstrapHouseDoor" class="d-block mx-auto mb-1 menu-offset"></ng-icon>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <ng-icon name="bootstrapHouseDoor" class="d-block mx-auto mb-1 menu-offset"></ng-icon>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <ng-icon name="bootstrapHouseDoor" class="d-block mx-auto mb-1 menu-offset"></ng-icon>
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <ng-icon name="bootstrapHouseDoor" class="d-block mx-auto mb-1 menu-offset"></ng-icon>
              Products
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <ng-icon name="bootstrapHouseDoor" class="d-block mx-auto mb-1 menu-offset"></ng-icon>
              Customers
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
