header {
  background: linear-gradient(45deg, rgba(40,40,218,1) 0%, rgb(4, 98, 199) 100%);
}

a {
  transition: transform .5s;

  &:hover {
    transform: scale(1.2);
  }

}

ng-icon{

  &.home-offset {
    margin-top: -17px;
  }

  &.menu-offset {
    margin-top: -9px;
  }
}

